<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>QR Pop Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>shwndvs.QR-Pop.TemplateData</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>shwndvs.QR-Pop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qrpop</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>TimelineConfigurationIntent</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>TimelineConfigurationIntent</string>
		<string>shwndvs.qr-pop.buildingCode</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>LaunchIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QR Pop Template</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>TemplateFile</string>
				<key>UTTypeIconText</key>
				<string>TEMPLATE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>shwndvs.QR-Pop.TemplateData</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qrpt</string>
					<string>QRPT</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
