:root {
    color-scheme: light dark;
}

body {
    padding: 10px;
    margin: 10px auto;
    font-family: system-ui;
    text-align: center;
    overflow: hidden;
    width: 240px;
}

img {
    border: 2px solid #1D1D1F;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
}

p {
    margin: 0 auto;
    overflow-wrap: break-word;
    font-size: 1.1em;
    font-weight: 500;
    color: #1D1D1F;
}

#website-title {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    img {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    p {
        color: #fff;
    }
}
