<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>qralt1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt1</string>
				</array>
			</dict>
			<key>qralt2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt2</string>
				</array>
			</dict>
			<key>qralt3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt3</string>
				</array>
			</dict>
			<key>qralt4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt4</string>
				</array>
			</dict>
			<key>qralt5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt5</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>qralt1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt1ipad</string>
					<string>qralt1ipadpro</string>
				</array>
			</dict>
			<key>qralt2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt2ipad</string>
					<string>qralt2ipadpro</string>
				</array>
			</dict>
			<key>qralt3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt3ipad</string>
					<string>qralt3ipadpro</string>
				</array>
			</dict>
			<key>qralt4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt4ipad</string>
					<string>qralt4ipadpro</string>
				</array>
			</dict>
			<key>qralt5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>qralt5ipad</string>
					<string>qralt5ipadpro</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchScreenImg</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
