<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>shwndvs.QR-Pop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qrpop</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>shwndvs.QR-Pop.generator-selection</string>
		<string>shwndvs.QR-Pop.route-selection</string>
	</array>
</dict>
</plist>
